body{
    background-color: rgba(63, 19, 21, 1);
}

#conteudo imagem, nome, recompensa{
    padding: 0;
}
#imagem{
    position: relative;
    left: 104%;
    bottom: 65%;
    width: 25%;
}

#conteudo{
    background-color: rgba(217, 217, 217, 1);
    font-size: 30px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 400px;
    display:block;
    width: 70%;
    height: 600px;
    text-align: justify;
    border-radius: 15px;
    line-height: 37px;
}

#recompensa{
    color: rgba(120, 25, 30, 1);
    font-size: larger;
    top: -500px;
}

#nome{
    color: rgba(120, 25, 30, 1);
    display: block;
    position: relative;
    bottom: 72%;
    left: 112%;
    font-size: 40px;
}